<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="QnAMapper">
	
	<!-- QnA IMG 불러오기 -->
	<select id="qnaImgList" resultType="QnAImgDTO">
	   select qino, qno
	   from qna_img
	</select>

	<!-- QnA List 불러오기 -->
	<select id="qnaList" resultType="QnADTO">
	   select qno, uno, hno,
	   question, qopen,
	   to_char(createdate,'YYYY/MM/DD') createdate
	   from qna
	   order by qno desc
	</select>

	<!-- QnAIMG Write 쓰기 -->
	<insert id="qnaImgInsert" parameterType="QnAImgDTO">
       insert into qna_img(qino)
       values(#{qino})
    </insert>
	
	<!-- QnA Write 쓰기 -->
	<insert id="qnaInsert" parameterType="QnADTO">
       insert into qna( qno, uno, hno, question)
       values( SEQ_QNA_QNO.nextval, 8, 1, #{question} )
    </insert>
    
    <!-- QnAIMG Retrieve 쓰기 -->
	<select id="qnaImgRetrieve" parameterType="int" resultType="QnAImgDTO">
	   select qino, qno
	   from qna_img
	   where qno = #{qno}
	</select>

	<!-- QnA Retrieve 쓰기 -->
	<select id="qnaRetrieve"  parameterType="int"  resultType="QnADTO">
	   select qno, uno, hno,
	   question, qopen,
	   to_char(createdate,'YYYY/MM/DD') createdate
	   from qna
	   where qno = #{qno}
	</select>




</mapper>



