<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="QnAMapper">
	

	<!-- QnA List 불러오기 -->
	<select id="qnaList" resultType="com.dto.QnADTO">
	   select qino1, theText1, theFile1, 
	   qino2, theText2, theFile2, 
	   qino3, theText3, theFile3, 
	   qno, uno, hno,
	   title, question, answer, qopen,
	   to_char(createdate,'YYYY/MM/DD') createdate
	   from qna
	   order by qno desc
	</select>
	
	<!-- QnA Write 쓰기 -->
	<insert id="qnaInsert" parameterType="com.dto.QnADTO">
       insert into 
       qna( 
       qino1, theText1, theFile1, 
	   qino2, theText2, theFile2, 
	   qino3, theText3, theFile3, 
       qno, uno, hno, title, question)
       values( 
       NVL(SEQ_QNA_QINO1.nextval, 1), #{theText1}, #{theFile1},
       NVL(SEQ_QNA_QINO2.nextval, 2), #{theText2}, #{theFile2},
       NVL(SEQ_QNA_QINO3.nextval, 3), #{theText3}, #{theFile3},
       NVL(SEQ_QNA_QNO.nextval, 1), #{uno}, #{hno}, 
       #{title, jdbcType=VARCHAR}, #{question, jdbcType=VARCHAR} )
    </insert>

	<!-- QnA Retrieve 쓰기 -->
	<select id="qnaRetrieve"  parameterType="int"  resultType="com.dto.QnADTO">
	   select qino1, theText1, theFile1, 
	   qino2, theText2, theFile2, 
	   qino3, theText3, theFile3,
	   qno, uno, hno,
	   title, question, answer, qopen,
	   to_char(createdate,'YYYY/MM/DD') createdate
	   from qna
	   where qno = #{qno}
	</select>
	
	<!-- QnA Delete -->
	<delete id="qnaDelete" parameterType="int">
	 delete from qna
	 where qno = #{qno}
	</delete>
	 
	<!-- QnA Update -->
	<update id="qnaUpdate" parameterType="com.dto.QnADTO">
	 update qna
	 set 
	 qino1=#{qino1}, thetext1=#{theText1}, thefile1=#{theFile1}, 
	 qino2=#{qino2}, thetext2=#{theText2}, thefile2=#{theFile2}, 
	 qino3=#{qino3}, thetext3=#{theText3}, thefile3=#{theFile3},
	 uno=#{uno}, hno=#{hno}, title=#{title}, question=#{question}
	 where qno = #{qno}
	</update>
	
	
	
	
</mapper>



