.glyphicon-chevron-left {
	float: left;
	margin-right: 3%;
}

.glyphicon-chevron-right {
	float: right;
}

.horizontal-scroll {
	height: 200px;
	overflow-x: hidden;
    white-space: nowrap;
}

.horizontal-scroll > div {
	display: inline-block;
	width: 250px;
}

.panel-body > img {
	width: 90%;
}
